
<p>If you experience any problems, please contact: 
    @foreach (var admin in Lab2.Models.Repositories.Repository.Instance.GetSiteAdmins().ToList())
    {
        @(admin.FullName + " ")
    }
</p>

